.dx-textbox {
  width: 100%;
  margin: 40px 0;
  font-family: 'Montserrat';
}

.adicionar-contato {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.adicionar-contato .dx-button {
  min-width: 225px;
}
